  {{ with .Site.Params.favicon}}
    <link rel="shortcut icon" href="{{ . }}" />
  {{ end }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <script src="https://hui-resources.oss-cn-beijing.aliyuncs.com/kit-fontawesome-b76b73e8e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://hui-resources.oss-cn-beijing.aliyuncs.com/fonts-google.Roboto-Slab-Ruda.css" />
  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
  {{- range .Site.Params.customCSS -}}
    <link rel='stylesheet' href='{{ . | absURL }}'>
  {{- end -}}
